/*
Cor de fundo: #003C4F
Cor da fonte: #FFFFFF
cor destaque: #FFC745
*/

html {
    background-color: #003C4F;
    color: #FFFFFF;
    font-size: 20px;
}

h1, h2, h3, h4 {
    color: #FFC745;
    font-family: 'Times New Roman', Times, serif;
}

body {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Cambria, Cochin, Georgia';
    padding: 0 20px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.apresentacao img {
    max-width: 150px;
}

.rodape {
    background-color:#003d75;
    padding: 10px 20px;
    border-top: 2px solid #FFC745;
    text-align: center;
}
.rodape-lista {
    text-align: left;
    padding-left: 47%;
}

.menu {
    background-color: #003d75;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.cabeçalho {
    padding-top: 15%;
    text-align: center;
}

a {
    color: #FFC745;
}
a:hover {
    color: #bd8400;
}

.formacao, .cursos, .atividades {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.principal {
    border-top: 1px solid #ccc;
}

img {
    display: block;
    margin: 0 auto;
}
.foto {
    border: #bd8400 solid 2px;
}

.menu-lista {
    text-align: left;
}
.menu-h2 {
    padding: 1%;
}

@media screen and (min-width: 768px) {
    
    .menu {
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    
    .menu {
        display: block;
        position: static;
        
    }
    .menu a {
        display: block;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .cabeçalho {padding-top: 10px;}
}
